body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EEF0F2;
    color: #353B3C;
}

h1{
    text-align: center;
    margin: 20px;
    color: #353B3C;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

.box{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    background-color: #846A6A;
    color: #EEF0F2;
}

.boxRow{
    justify-content: center;
    align-items: center;
}

#input{
    display: inline-flex;
    width: 90vw;
    height: 60vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #C6C7C4;
    color: #846A6A;
}